APP_DOMAIN=SEU-IP-COM-HIFENS.sslip.io

DJANGO_DEBUG=false
DJANGO_SECRET_KEY=SUBSTITUA-POR-UMA-CHAVE-ALEATORIA
DJANGO_ALLOWED_HOSTS=SEU-IP-COM-HIFENS.sslip.io
DJANGO_CSRF_TRUSTED_ORIGINS=https://SEU-IP-COM-HIFENS.sslip.io

APP_USER_1=usuario1
APP_PASSWORD_HASH_1='$2a$14$SUBSTITUA_PELO_HASH_GERADO_PELO_CADDY'
APP_USER_2=usuario2
APP_PASSWORD_HASH_2='$2a$14$SUBSTITUA_PELO_HASH_GERADO_PELO_CADDY'
APP_USER_3=usuario3
APP_PASSWORD_HASH_3='$2a$14$SUBSTITUA_PELO_HASH_GERADO_PELO_CADDY'
