APP_DOMAIN=SEU-IP-COM-HIFENS.sslip.io

DJANGO_DEBUG=false
DJANGO_SECRET_KEY=SUBSTITUA-POR-UMA-CHAVE-ALEATORIA
DJANGO_ALLOWED_HOSTS=SEU-IP-COM-HIFENS.sslip.io
DJANGO_CSRF_TRUSTED_ORIGINS=https://SEU-IP-COM-HIFENS.sslip.io
